## The app port (Ex: 3333)
PORT= 3333

## URL to connect to the MySql database
DATABASE_URL= mysql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public

## The app url (Ex: http://localhost:3333)
APP_URL= http://localhost:3333

## The url of the front end consuming the api (Ex: http://162.214.54.8:PORT)
WEB_URL="http://localhost:3000"

## 'local', 'test' or 'production'.
ENVIRONMENT="local"


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

